<div class="contact-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-center">
        <div class="primary-text font-bold mb-3">GET IN TOUCH</div>
        <div class="font-bold text-5xl mb-3">Contact Us</div>
        <div class="secondary-text text-2xl mb-5">Have questions or ready to enroll? Contact us today to start your
            creative journey.</div>
        <div class="flex justify-content-center gap-2">
            <input type="text" pInputText placeholder="Enter your email">
            <button type="button" pButton pRipple label="Submit"></button>
        </div>
    </div>
</div>