
.courses-section {
	background: var(--surface-section);
	color: var(--text-color);
}
.primary-text {
	color: var(--primary-color);
}
.secondary-text {
	color: var(--text-color-secondary);
}

.not-sure-card {
    background: var(--surface-card);
    border-radius: 12px;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(255,255,255,0.1);
}
